* {
    margin: 0;
    padding: 0;
    font-size: 0;
}

input,
textarea,
select,
option {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    width: 400px;
    border-radius: 3px;
}

input[type='checkbox'] {
    width: auto;
    margin: 10px;
}

button {
    background-color: silver;
}

table {
    margin: 20px auto;
}

table tr td {
    font-family: 'Barlow Condensed', sans-serif;
    padding: 5px 30px;
}